.SARToUSDExchangeRate {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    max-width: 400px;
    margin: 70px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .SARToUSDExchangeRate input {
    padding: 10px;
    margin: 10px 0;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }