*{
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
 }




table{

    background-color: rgb(246, 168, 113);

}

 a{
    text-decoration: none;
    color: rgb(43, 26, 166);
 }





 th:hover{

    background-color: rgb(108, 45, 0);
    color: white;
 }


